/*ACB2BB, A1A09B, 6C7B8E, FFFEFC*/

body {
  margin:0px;
  color: #091C3C;
  background-color: #ACB2BB;

}
header {
  margin: 0px;
  padding: 25px;
  background-color: #A1A09B;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 2px 2px 2px 2px ;
}
h1, h2, h3 {
  color: #FFFEFC;
  font-weight: bold;
  text-shadow: 1px 0 #091C3C, 2px 3px #091C3C, 3px 3px #091C3C, 0 1px #091C3C;
}
h1 {
  font-size: 300%;
}
h2 {
  font-size: 55px;
}
h3 {
  font-size: 40px;
}
p {
  margin-left:auto;
  margin-right:auto;
  text-align: justify;
  width: 50%;
}
table {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 5px;
  background-color: #FFFEFC;
  box-shadow: inset 0 0 20px #091C3C;
}
tr, td {
  padding: 35px;
}
/*ACB2BB*/
